extends layout

block content
  script.
    jQuery(document).ready(function($) {
      $('#attendingSwitch').prop('checked', false);
    });
  form.p-3.mb-2.bg-white(style="--bs-bg-opacity: .8;" method="POST", action="/confirmedArrival")
    .row.p-3
      .text-center
        h1 Registro de llegada 
    - if (guest) {
      .row 
        .col
        .col.h5 Nombre del invitado: 
        .col.h5
          b #{guest.name}. 
        .col
      .row
        .col
        .col.h5 Mesa asignada: 
        .col.h5
          b #{guest.tableAllocated}
        .col
      .row
        .col
        .col.h5 # total de adulto(s): 
        .col.h5
          b #{guest.estimatedAdultCount} 
        .col
      .row 
        .col
        .col.h5 # total de menore(s): 
        .col.h5
          b #{guest.estimatedChildCount}
        .col
      .row 
        hr
      .row.mb-2
        #assistingAdultsDiv
          label(for="assistingAdults") 
            span Adultos:
          select#assistingAdults.form-control(name="assistingAdults")
            -for(var i = 1;i<=guest.estimatedAdultCount;i++){
            option(value="#{i}") #{i}
            -}
      .row.mb-2
        if guest.estimatedChildCount > 0
          #assistingChildrenDiv
            label(for="assistingChildren") 
              span Niños (menores de 3 años): 
            select#assistingChildren.form-control(name="assistingChildren")
              -for(var i = 0;i<=guest.estimatedChildCount;i++){
              option(value="#{i}") #{i}
              -}
      .row.p-3
        button.btn.btn-primary(type="submit") Guardar
    - } else {
      .row 
        p.text-center.text-danger= error 
    - }
    