extends layout

block content
  script.
    jQuery(document).ready(function($) {
      $("#assistingAdultsDiv").hide();
      $("#assistingChildrenDiv").hide();
      $('#attendingSwitch').prop('checked', false);
    });
    function assistingValueChanged() {
        if ($('#attendingSwitch').is(":checked")) {
          console.log("checked");
          $("#assistingAdultsDiv").show();
          $("#assistingChildrenDiv").show();
        } else {
          console.log("nooo checked");
          $("#assistingAdultsDiv").hide();
          $("#assistingChildrenDiv").hide();
        }
    }


    function assistingChildValueChanged() {
      $('.field_wrapper').css('background-color', 'blue');
      let child = $("#assistingChildren").find(":selected").val();
      console.log("assistingChildValueChanged" + child);

      $('#field_wrapper').empty();
      if (child > 0) {
        for (i=1; i<=child; i++){
          console.log('adding child ' + i);
          var id = "assistingChildren"+ i;
          var fieldHTML = '<div class="form-group"><label for=' + id + '>Edad del menor ' + i + ':</label><input type="text" name="field_name[]" value="" class="form-control" name=' + id + ' id=' + id + '/><div>';
          $('#field_wrapper').append(fieldHTML);
        }
      }
      
    }
    

  form.p-3.mb-2.bg-white(style="--bs-bg-opacity: .8;" method="POST", action="/thanks")
    input#guest_mail(type="hidden" name="guest_mail" value=guest.mail)
    input#guest_mobile(type="hidden" name="guest_mobile" value=guest.mobile)
    .row
      .text-center
        h1 Registro de asistencia
    .row 
      p.text-justify
        | Hola 
        b #{guest.name} 
        | estamos felices de extender contigo la invitacion para celebrar los XV a単os de nuestra hija Karla Yaretzi.
      p 
        | Tenemos considerados  
        b #{guest.estimatedAdultCount + guest.estimatedChildCount} 
        //- b #{guest.estimatedAdultCount} 
        //- | adulto(s) 
        //- if guest.estimatedChildCount > 0
        //-   | y 
        //-   b #{guest.estimatedChildCount} 
        //-   | [menor(es) de 3 a単os] 
        | boletos para ti. 
      p 
        | Esperamos contar con su presencia 
    .row 
      hr
    .row
      .col
      .col-4
        .form-check.form-switch
          input#attendingSwitch.form-check-input.mr-2(type="checkbox" role="switch" value="1" onchange="assistingValueChanged()" name="attendingSwitch" style="transform: scale(1.4);") 
          label.form-check-label(for="attendingSwitch") Asistiras
      .col
    .row.mb-2
      #assistingAdultsDiv
        label(for="assistingAdults") 
          span Adultos:
        select#assistingAdults.form-control(name="assistingAdults")
          -for(var i = 1;i<=guest.estimatedAdultCount;i++){
          option(value="#{i}") #{i}
          -}
    .row.mb-2
      if guest.estimatedChildCount > 0
        #assistingChildrenDiv
          label(for="assistingChildren") 
            span Ni単os (menores de 3 a単os): 
          select#assistingChildren.form-control(name="assistingChildren" onchange="assistingChildValueChanged()")
            -for(var i = 0;i<=guest.estimatedChildCount;i++){
            option(value="#{i}") #{i}
            -}
    
    .row.mb-2(name="field_wrapper")
      #field_wrapper
        //- input#age.form-control(type="text", placeholder="Edad del menor" name="age1")
        //- .form-group(hidden=false) 
        //-   label(for="age") Menor #1 
        //-   input#age.form-control(type="text", placeholder="Edad del menor" name="age1")
    //- #section2.row.mb-2(name="section2")
    .row.p-3
      button.btn.btn-primary(type="submit") Enviar Respuesta