extends layout

block content
  script.
    jQuery(document).ready(function($) {
      $('#attendingSwitch').prop('checked', false);
      $("#assistingAdultsDiv").hide();
      $("#assistingChildrenDiv").hide();
    });
    function assistingValueChanged() {
        if ($('#attendingSwitch').is(":checked")) {
          console.log("checked");
          $("#assistingAdultsDiv").show();
          $("#assistingChildrenDiv").show();
          dynamicallyCreateAssistingChild();
        } else {
          console.log("nooo checked");
          $("#assistingAdultsDiv").hide();
          $("#assistingChildrenDiv").hide();
          $('#field_wrapper').empty();
        }
        
    }

    function dynamicallyCreateAssistingChild() {
      let childNumber = $("#assistingChildren").find(":selected").val();
      console.log("dynamicallyCreateAssistingChild: " + childNumber);

      $('#field_wrapper').empty();
      if (childNumber > 0) {
        for (i=1; i<=childNumber; i++){
          console.log('adding child ' + i);
          var id = "assistingChildren"+ i;
          var fieldHTML = '<div class="form-group"><label for=' + id + '>Edad del menor ' + i + ':</label><input required type="number" min="0" max="17" class="form-control" name=' + id + ' id=' + id + ' /><div>';
          $('#field_wrapper').append(fieldHTML);
        }
      }
      
    }

    //- onsubmit="return validate(this)"
    //- function validate(form) {
    //-   let childNumber = $("#assistingChildren").find(":selected").val();
    //-   console.log("dynamicallyCreateAssistingChild: " + childNumber);

    //-   let focusField = undefined;
    //-   let valid = true;
    //-   for(i=childNumber; i>=1; i--) {
    //-     let inputField = $('#assistingChildren' + i).val()
    //-     if (inputField == undefined || inputField == "") {
    //-       console.log("invalid value at [assistingChildren" + i + "]");
    //-       focusField = $('#assistingChildren' + i);
    //-       valid = false;
    //-       break;
    //-     } 
    //-   }

    //-   console.log("valid " + valid);

    //-   if (!valid) focusField.focus();
    //-   return valid;
    //- }
    

  form.container.p-3.mb-2.bg-white(style="--bs-bg-opacity: .8;" method="POST", action="/thanks" )
    input#guest_mail(type="hidden" name="guest_mail" value=guest.mail)
    input#guest_mobile(type="hidden" name="guest_mobile" value=guest.mobile)
    .row
      .text-center
        h1 Registro de asistencia
    .row 
      p.text-justify
        | Hola 
        b #{guest.name} 
        | estamos felices de extender contigo la invitacion para celebrar los XV años de nuestra hija Karla Yaretzi.
      p 
        | Tenemos considerados  
        //- b #{guest.estimatedAdultCount + guest.estimatedChildCount} 
        b #{guest.estimatedAdultCount} 
        | adulto(s) 
        if guest.estimatedChildCount > 0
          | y 
          b #{guest.estimatedChildCount} 
          | menor(es)  
        | para ti. 
      p 
        | Esperamos contar con su presencia 
    .row 
      hr
    .row
      .col
      .col-4
        .container.d-flex.align-items-center.justify-content-center.form-check.form-switch
          input#attendingSwitch.form-check-input(type="checkbox" role="switch" value="1" onchange="assistingValueChanged()" name="attendingSwitch" style="transform: scale(1.8);") 
          label.form-check-label.px-4(for="attendingSwitch") Asistiras 
      .col
    .row.mb-2
      #assistingAdultsDiv
        label(for="assistingAdults") 
          span Adultos:
        select#assistingAdults.form-control(name="assistingAdults")
          -for(var i = guest.estimatedAdultCount; i>=1; i--){
          option(value="#{i}") #{i}
          -}
    .row.mb-2
      if guest.estimatedChildCount > 0
        #assistingChildrenDiv
          label(for="assistingChildren") 
            span Menores: 
          select#assistingChildren.form-control(name="assistingChildren" onchange="dynamicallyCreateAssistingChild()")
            -for(var i = guest.estimatedChildCount; i>=0; i--){
            option(value="#{i}") #{i}
            -}
    
    .row.mb-2
      #field_wrapper(name="field_wrapper")
    .row.p-3
      button.btn.btn-primary.text-uppercase(type="submit") Enviar Respuesta