extends layout

block content
  script.
    jQuery(document).ready(function($) {
      console.log("js is working");
      $("#assistingAdultsDiv").hide();
      $("#assistingChildrenDiv").hide();
      $('#attendingSwitch').prop('checked', false);
    });
    function valueChanged() {
        if ($('#attendingSwitch').is(":checked")) {
          console.log("checked");
          $("#assistingAdultsDiv").show();
          $("#assistingChildrenDiv").show();
        } else {
          console.log("nooo checked");
          $("#assistingAdultsDiv").hide();
          $("#assistingChildrenDiv").hide();
        }
    }
  form.p-3.mb-2.bg-white(style="--bs-bg-opacity: .8;" method="POST", action="/thanks")
    input#guest_mail(type="hidden" name="guest_mail" value=guest.mail)
    input#guest_mobile(type="hidden" name="guest_mobile" value=guest.mobile)
    .row
      .text-center
        h1 Registro de asistencia
    .row 
      p.text-justify
        | Hola 
        b #{guest.name} 
        | estamos felices de extender contigo la invitacion para celebrar los XV a単os de nuestra hija Karla Yaretzi.
      p 
        | Tenemos considerados  
        b #{guest.estimatedAdultCount} 
        | adulto(s) 
        if guest.estimatedChildCount > 0
          | y 
          b #{guest.estimatedChildCount} 
          | [menor(es) de 3 a単os]
        | para ti. 
      p 
        | Esperamos contar con su presencia 
    .row 
      hr
    .row
      .col
      .col-4
        .form-check.form-switch
          input#attendingSwitch.form-check-input.mr-2(type="checkbox" role="switch" value="1" onchange="valueChanged()" name="attendingSwitch" style="transform: scale(1.4);") 
          label.form-check-label(for="attendingSwitch") Asistiras
      .col
    .row.mb-2
      #assistingAdultsDiv
        label(for="assistingAdults") 
          span Adultos:
        select#assistingAdults.form-control(name="assistingAdults")
          -for(var i = 1;i<=guest.estimatedAdultCount;i++){
          option(value="#{i}") #{i}
          -}
    .row.mb-2
      if guest.estimatedChildCount > 0
        #assistingChildrenDiv
          label(for="assistingChildren") 
            span Ni単os (menores de 3 a単os): 
          select#assistingChildren.form-control(name="assistingChildren")
            -for(var i = 0;i<=guest.estimatedChildCount;i++){
            option(value="#{i}") #{i}
            -}
    //- .row 
      //-     .form-group 
      //-       label(for="name") Nombre 
      //-       input#name.form-control(type="text", placeholder="Tu nombre" name="name")
      //-     .form-group 
      //-       label(for="lastname") Apellido 
      //-       input#lastname.form-control(type="text", placeholder="Tu apellido" name="lastname")
      //-     .form-group 
      //-       label(for="age") Edad 
      //-       input#age.form-control(type="text", placeholder="Edad" name="age")
    .row.p-3
      button.btn.btn-primary(type="submit") Enviar Respuesta