extends layout

block content
  script(src="https://www.wpromotions.eu/confetti.min.js")
  script.
    confetti.start()
    setTimeout(function(){confetti.stop();},3000)
    
  form.container.p-3.mb-2.bg-white(style="--bs-bg-opacity: .8;" id="myForm" name="myForm" method="POST", action="/download")
    input#guest(type="hidden" name="guest" value=guest._id) 
    input#guest_mail(type="hidden" name="guest_mail" value=guest.mail)
    input#guest_mobile(type="hidden" name="guest_mobile" value=guest.mobile)
    input#guest_count(type="hidden" name="guest_count" value=guest.confirmedAdultCount + guest.confirmedChildCount)
    .row
      .text-center
        h1 Gracias por tu respuesta
    #loader.text-center
      //- .h-100.d-flex.align-items-center.justify-content-center(visible=false)
      //- div(style="background:white") Loading
      //- .spinner-border(role="status")
      //-   span.visually-hidden Loading...
    .row 
      hr
    - if (regilousDetails)
      .row
        p.text-center
          | El evento sera celebrado como se muestra a continuacion
        h6.text-center= regilousDetails.religiousPlace 
          a(href=regilousDetails.religiousUrl target="_blank" rel="noopener noreferrer")
            img(src="/images/location-map-pin-gray.svg" alt="Ubicacion Fiesta" style="width:26px;height:20px;")
      .row
        p.text-center= regilousDetails.religiousAddress
      .row.text-center 
        .col
          | Fecha
        .col
          | Hora 
      .row.text-center.p-3.mb-2
        .col= regilousDetails.religiousDateTimeObj.toLocaleString('es-MX', { year: "numeric", month: "short", day: "numeric" })
        .col= regilousDetails.religiousDateTimeObj.toLocaleString('es-MX', { hour: "numeric", minute: "numeric", hour12: true })
      .row 
        hr
    - if (partyDetails)
      .row
        h6.text-center= partyDetails.partyPlace
          a(href=partyDetails.partyUrl target="_blank" rel="noopener noreferrer")
            img(src="/images/location-map-pin-gray.svg" alt="Ubicacion Fiesta" style="width:26px;height:20px;")
      .row 
        p.text-center= partyDetails.partyAddress
      .row.text-center 
        .col 
          | Fecha
        .col
          | Hora 
      .row.text-center.p-3.mb-2
        .col= partyDetails.partyDateTimeObj.toLocaleString('es-MX', { year: "numeric", month: "short", day: "numeric" })
        .col= partyDetails.partyDateTimeObj.toLocaleString('es-MX', { hour: "numeric", minute: "numeric", hour12: true })
      .row 
        hr
    .row 
      p.text-center
        | Descarga tu boleto y agrega los eventos a Google Calendar con los siguientes links
    .row.p-1
      .col.text-center Boletos
      .col.text-center Iglesia
      .col.text-center Salon
    .row.p-3.mb-2
      .col.text-center
        input#downloadFormat(type="hidden" name="downloadFormat" value="pdf")
        button.btn.btn-primary(type="submit")
          img(src="/images/ticket-gray.svg" alt="Agrega la iglesia a google calendar" style="width:26px;height:20px;")
        //- a(href="" target="_blank" rel="noopener noreferrer" onclick="this.closest('form').submit();return false;") 
        //-   img(src="/images/ticket-gray.svg" alt="Agrega la iglesia a google calendar" style="width:26px;height:20px;")
      - calendarURL = "https://calendar.google.com/calendar/render?action=TEMPLATE"
      - details = "https://carlospatinos.wixsite.com/xv-karlayaretzi"
      - timezone = "America/Mexico_City"
      - churchStartObj = regilousDetails.religiousDateTimeObj;
      - churchEndObj = new Date(churchStartObj).setHours(churchStartObj.getHours() + 1);
      - partyStartObj = partyDetails.partyDateTimeObj;
      - prtyEndObj = new Date(partyStartObj).setHours(partyStartObj.getHours() + 6);
      .col.text-center
        - churchText = celebration + " de " + mainGuest + " - Iglesia"
        - churchLocation = regilousDetails.religiousAddressMapsCode.replace("+", "%2B")
        - churchStartTime = [new Intl.DateTimeFormat("es-mx", { year: "numeric", month: "2-digit", day: "2-digit" }).format(churchStartObj).split('/').reverse().join(''), "T", new Intl.DateTimeFormat("es-mx", { hour: "2-digit", minute: "2-digit", second: "2-digit", hourCycle: "h24" }).format(churchStartObj).replaceAll(":", "")].join("")
        - churchEndTime = [new Intl.DateTimeFormat("es-mx", { year: "numeric", month: "2-digit", day: "2-digit" }).format(churchEndObj).split('/').reverse().join(''), "T", new Intl.DateTimeFormat("es-mx", { hour: "2-digit", minute: "2-digit", second: "2-digit", hourCycle: "h24" }).format(churchEndObj).replaceAll(":", "")].join("")
        - churchLink = calendarURL + "&text=" + churchText + "&details=" + details + "&location=" + churchLocation + "&dates=" + churchStartTime + "/" + churchEndTime + "&ctz=" + timezone
        a.btn.btn-primary(href=churchLink target="_blank" rel="noopener noreferrer") 
          img(src="/images/church-gray.svg" alt="Agrega la iglesia a google calendar" style="width:26px;height:20px;")
      .col.text-center
        - partyText = celebration + " de " + mainGuest + " - Fiesta"
        - partyLocation = partyDetails.partyAddressMapsCode.replace("+", "%2B")
        - partyStartTime = [new Intl.DateTimeFormat("es-mx", { year: "numeric", month: "2-digit", day: "2-digit" }).format(partyStartObj).split('/').reverse().join(''), "T", new Intl.DateTimeFormat("es-mx", { hour: "2-digit", minute: "2-digit", second: "2-digit", hourCycle: "h24" }).format(partyStartObj).replaceAll(":", "")].join("")
        - partyEndTime = [new Intl.DateTimeFormat("es-mx", { year: "numeric", month: "2-digit", day: "2-digit" }).format(prtyEndObj).split('/').reverse().join(''), "T", new Intl.DateTimeFormat("es-mx", { hour: "2-digit", minute: "2-digit", second: "2-digit", hourCycle: "h24" }).format(prtyEndObj).replaceAll(":", "")].join("")

        - partyLink = calendarURL + "&text=" + partyText + "&details=" + details + "&location=" + partyLocation + "&dates=" + partyStartTime + "/" + partyEndTime + "&ctz=" + timezone
        a.btn.btn-primary(href=partyLink target="_blank" rel="noopener noreferrer") 
          img(src="/images/glass-cheers-gray.svg" alt="Agrega el salon a google calendar" style="width:26px;height:20px;")
 
          
    script. 
      //- $(document).ready(
      //-   function(){
      //-     $('#myForm').on('submit', function(e){
      //-         e.preventDefault();
      //-         alert("ok")
      //-     });
      //- });

      
      var spinner = $('#loader');
      spinner.hide();
      var mainGuest = "!{mainGuest}"
      var regilousDetails = "!{regilousDetails.religiousAddressMapsCode}"
      console.log(mainGuest)
      console.log(regilousDetails)
      $(function() {
        $('form').submit(function(e) {
          e.preventDefault();
          spinner.show();
          
          $.ajax({
            url: '/download',
            data: $(this).serialize(),
            method: 'post',
            xhrFields: {
              responseType: 'blob'
            },
            success: function(blob){
              console.log(blob.size);
                var link=document.createElement('a');
                link.href=window.URL.createObjectURL(blob);
                link.download="XV-Yare" + "20240810T1600" + ".pdf";
                //- link.download="XV-" + mainGuest + "20240810T1600" + ".pdf";
                link.click();
            }
            //- dataType: 'JSON'
          }).done(function(resp) {
            spinner.hide();
            //- alert(resp.status);
          });
        });
      });