extends layout

block content
  .text-center
    h1= title
  hr
  form(method="POST", action="/user")
    p 
      .row
        .col
          label(for="assisting") 
            span Asistiendo
        .col 
          select#assisting.form-control
            -for(var i = 1;i<10;i++){
            option(value="#{i}") #{i}
            -}
      br
      .row
        .col
          .form-group 
            label(for="name") Nombre 
            input#name.form-control(type="text", placeholder="Tu nombre")
        .col
          .form-group 
            label(for="lastname") Apellido 
            input#lastname.form-control(type="text", placeholder="Tu apellido")
      br
      .row
        .col
          label(for="declining") 
            span Lo sentimos, no podremos acompañarlos
        .col 
          input#declining.form-control.pull-right(type="checkbox" checked=false, disabled=false)
      .row 
        button.btn.btn-primary(type="submit") Enviar Respuesta

