extends layout

block content
  script(src="https://www.wpromotions.eu/confetti.min.js")
  script.
    confetti.start()
    setTimeout(function(){confetti.stop();},3000)
    
  form.container.p-3.mb-2.bg-white(style="--bs-bg-opacity: .8;" method="POST", action="/download")
    input#guest(type="hidden" name="guest" value=guest._id) 
    input#guest_mail(type="hidden" name="guest_mail" value=guest.mail)
    input#guest_mobile(type="hidden" name="guest_mobile" value=guest.mobile)
    input#guest_count(type="hidden" name="guest_count" value=guest.confirmedAdultCount + guest.confirmedChildCount)
    .row
      .text-center
        h1 Gracias por tu respuesta
    .row 
      hr
    - if (regilousDetails)
      .row
        p.text-center
          | El evento sera celebrado como se muestra a continuacion
        h6.text-center= regilousDetails.religiousPlace 
      .row 
        p.text-center 
          a(href=regilousDetails.religiousUrl target="_blank" rel="noopener noreferrer") #{regilousDetails.religiousAddress}
      .row.text-center 
        .col 
          | Fecha
        .col
          | Hora 
      .row.text-center.p-3.mb-2
        .col= regilousDetails.religiousDate
        .col= regilousDetails.religiousTime 
      .row 
        hr
    - if (partyDetails)
      .row 
        h6.text-center= partyDetails.partyPlace
      .row 
        p.text-center
          a(href=partyDetails.partyUrl target="_blank" rel="noopener noreferrer") #{partyDetails.partyAddress}
      .row.text-center 
        .col 
          | Fecha
        .col
          | Hora 
      .row.text-center.p-3.mb-2
        .col= regilousDetails.religiousDate
        .col= regilousDetails.religiousTime 
      .row 
        hr
    .row 
      p.text-center
        | Descarga tu boleto y agrega los eventos a Google Calendar con los siguientes links
    .row
      .col.text-center Boletos
      .col.text-center Iglesia
      .col.text-center Salon
    .row.p-3.mb-2
      .col.text-center
        input#downloadFormat(type="hidden" name="downloadFormat" value="pdf")
        a(href="" target="_blank" rel="noopener noreferrer" onclick="this.closest('form').submit();return false;") 
          img(src="/images/ticket-gray.svg" alt="Agrega la iglesia a google calendar" style="width:26px;height:20px;")
      .col.text-center
        a(href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=" + celebration + " de " + mainGuest + " - Iglesia&details=https://carlospatinos.wixsite.com/xv-karlayaretzi&location=FVV5%2B9F Mexico City, Mexico&dates=20240810T180000/20240810T190000&recur=RRULE:FREQ%3DWEEKLY;UNTIL%3D20210603&ctz=America/Mexico_City" target="_blank" rel="noopener noreferrer") 
          img(src="/images/church-gray.svg" alt="Agrega la iglesia a google calendar" style="width:26px;height:20px;")
      .col.text-center
        a(href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=" + celebration + " de " + mainGuest + " - Fiesta&details=https://carlospatinos.wixsite.com/xv-karlayaretzi&location=FVR5%2B82 Mexico City, Mexico&dates=20240810T200000/20240811T020000&recur=RRULE:FREQ%3DWEEKLY;UNTIL%3D20210603&ctz=America/Mexico_City" target="_blank" rel="noopener noreferrer")  
          img(src="/images/glass-cheers-gray.svg" alt="Agrega el salon a google calendar" style="width:26px;height:20px;")
    //- .row.p-3
    //-   select#downloadFormat(name="downloadFormat").form-control
    //-     option(value="pdf") PDF
    //-     option(value="png") Imagen
    //-     //- option(value="pkass") Pase Movil
    //- .row  
    //-   button.btn.btn-primary.text-uppercase(type="submit") Descargar